<a href="https://colab.research.google.com/github/pkmariya/Python/blob/main/Loan_Assign.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import numpy as np
import pandas as pd
import scipy.stats as st

In [6]:
loan_df = pd.read_csv('https://d2beiqkhq929f0.cloudfront.net/public_assets/assets/000/018/746/original/loan.csv?1666170299')

In [7]:
loan_df['Loan_Amount_per_year'] = loan_df['LoanAmount'] / loan_df['Loan_Amount_Term']

In [8]:
data = loan_df.copy()

In [9]:
# group1 women data
group1 = data[(data['Gender']=='Female')]['Loan_Amount_per_year']

In [10]:
# group2 unmarried men data
group2 = data[(data['Gender']=='Male') & (data['Married']=='No')]['Loan_Amount_per_year']

In [11]:
group1.var()

0.22548316632557983

In [12]:
group2.var()

0.11362377496532253

In [13]:
# dropping the missing values of both the groups
group1 = group1.dropna()
group2 = group2.dropna()

In [14]:
print("Number of records in group1 (Women): ", len(group1))
print("Variance of group1 (Women): ", round(group1.var(),2))
print("Number of records in group2 (Men): ", len(group2))
print("Variance of group2 (Men): ", round(np.var(group2),2))

Number of records in group1 (Women):  106
Variance of group1 (Women):  0.23
Number of records in group2 (Men):  123
Variance of group2 (Men):  0.11

In [15]:
p_val_ttest = st.ttest_ind(group1, group2)[1]

In [16]:
p_val_kruskal = st.kruskal(group1, group2)[1]

In [17]:
print("Kruskal test p_value is: ", round(p_val_kruskal, 2))

Kruskal test p_value is:  0.11

In [18]:
alpha = 0.05
if p_val_kruskal < alpha:
  print("Since p_value is less than Alpha, we fail to accept the Null Hypothesis")
else:
  print("Since p_value is greater than Alpha, we fail to reject the Null Hypothesis")

Since p_value is greater than Alpha, we fail to reject the Null Hypothesis

In [26]:
loan_rejected_df1 = loan_df[loan_df['Loan_Status']=='N']

In [28]:
loan_rejected_df1.describe()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Loan_Amount_per_year
count,192.000000,192.000000,181.000000,186.000000,179.000000,175.000000
mean,5446.078125,1877.807292,151.220994,344.064516,0.541899,0.492564
std,6819.558528,4384.060103,85.862783,69.238921,0.499639,0.436674
min,150.000000,0.000000,9.000000,36.000000,0.000000,0.025000
25%,2885.000000,0.000000,100.000000,360.000000,0.000000,0.288889
50%,3833.500000,268.000000,129.000000,360.000000,1.000000,0.375000
75%,5861.250000,2273.750000,176.000000,360.000000,1.000000,0.541667
max,81000.000000,41667.000000,570.000000,480.000000,1.000000,4.305556

In [29]:
from scipy.stats import chi2_contingency

In [32]:
val = pd.crosstab(index=loan_rejected_df1["Gender"]=='Male', columns=loan_rejected_df1["Credit_History"]=="1").values
print(val)
chi2_contingency(val) # chi_stat, p_value, df, expected_values =

[[ 42]
 [150]]

(0.0, 1.0, 0, array([[ 42.],
        [150.]]))

In [35]:
val = pd.crosstab(index=loan_df["Gender"]=='Male', columns=loan_df["Loan_Status"]=="Yes").values
print(val)
chi2_contingency(val) # chi_stat, p_value, df, expected_values =

[[125]
 [489]]

(0.0, 1.0, 0, array([[125.],
        [489.]]))