<a href="https://colab.research.google.com/github/pkmariya/Python/blob/main/Loan_Assign.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [22]:
import numpy as np
import pandas as pd
import scipy.stats as st

In [4]:
loan_df = pd.read_csv('https://d2beiqkhq929f0.cloudfront.net/public_assets/assets/000/018/746/original/loan.csv?1666170299')

In [6]:
loan_df['Loan_Amount_per_year'] = loan_df['LoanAmount'] / loan_df['Loan_Amount_Term']

In [7]:
data = loan_df.copy()

In [14]:
# group1 women data
group1 = data[(data['Gender']=='Female')]['Loan_Amount_per_year']

In [16]:
# group2 unmarried men data
group2 = data[(data['Gender']=='Male') & (data['Married']=='No')]['Loan_Amount_per_year']

In [18]:
group1.var()

0.22548316632557983

In [19]:
group2.var()

0.11362377496532253

In [20]:
# dropping the missing values of both the groups
group1 = group1.dropna()
group2 = group2.dropna()

In [24]:
print("Number of records in group1 (Women): ", len(group1))
print("Variance of group1 (Women): ", round(group1.var(),2))
print("Number of records in group2 (Men): ", len(group2))
print("Variance of group2 (Men): ", round(np.var(group2),2))

Number of records in group1 (Women):  106
Variance of group1 (Women):  0.23
Number of records in group2 (Men):  123
Variance of group2 (Men):  0.11

In [28]:
p_val_ttest = st.ttest_ind(group1, group2)[1]

In [29]:
p_val_kruskal = st.kruskal(group1, group2)[1]

In [30]:
print("Kruskal test p_value is: ", round(p_val_kruskal, 2))

Kruskal test p_value is:  0.11

In [32]:
alpha = 0.05
if p_val_kruskal < alpha:
  print("Since p_value is less than Alpha, we fail to accept the Null Hypothesis")
else:
  print("Since p_value is greater than Alpha, we fail to reject the Null Hypothesis")

Since p_value is greater than Alpha, we fail to reject the Null Hypothesis