<a href="https://colab.research.google.com/github/pkmariya/Python/blob/master/NetflixProject_Mariya_DSMLJune22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [7]:
netflix_df = pd.read_csv("https://d2beiqkhq929f0.cloudfront.net/public_assets/assets/000/000/940/original/netflix.csv")

In [8]:
netflix_df.describe()

       release_year
count   8807.000000
mean    2014.180198
std        8.819312
min     1925.000000
25%     2013.000000
50%     2017.000000
75%     2019.000000
max     2021.000000

In [60]:
netflix_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

In [9]:
netflix_df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [29]:
# Count of Movies and TV Shows
count = netflix_df['type'].value_counts()
count

Movie      6131
TV Show    2676
Name: type, dtype: int64

In [27]:
# Percentage of Movies and TV Shows
count_pct = netflix_df['type'].value_counts(normalize=True)
count_pct

Movie      0.696151
TV Show    0.303849
Name: type, dtype: float64

In [48]:
# Movies & TV Shows count by Country
cat_cols = ['country', 'type']
count_by_country = netflix_df[cat_cols].value_counts()
count_by_country

country                                                                         type
United States                                                                   Movie      2058
India                                                                           Movie       893
United States                                                                   TV Show     760
United Kingdom                                                                  TV Show     213
                                                                                Movie       206
                                                                                           ...
Ireland, Canada                                                                 Movie         1
Ireland, Canada, Luxembourg, United States, United Kingdom, Philippines, India  Movie         1
Ireland, Canada, United Kingdom, United States                                  Movie         1
Ireland, Canada, United States, United Kingdom                                  TV Show       1
Zimbabwe                                                                        Movie         1
Length: 847, dtype: int64

In [56]:
# Movies & TV Shows by Country by duration
cat_cols_duration = ['country', 'type', 'duration']
country_type_duration = netflix_df[cat_cols_duration]
country_type_duration

            country     type   duration
0     United States    Movie     90 min
1      South Africa  TV Show  2 Seasons
2               NaN  TV Show   1 Season
3               NaN  TV Show   1 Season
4             India  TV Show  2 Seasons
...             ...      ...        ...
8802  United States    Movie    158 min
8803            NaN  TV Show  2 Seasons
8804  United States    Movie     88 min
8805  United States    Movie     88 min
8806          India    Movie    111 min

[8807 rows x 3 columns]

In [26]:
null_count = netflix_df.isnull().sum()
null_count

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64

In [55]:
netflix_df.columns

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')

In [59]:
# sort values by rating & duration
netflix_df.sort_values(['rating', 'duration'], ascending=False)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
8790,s8791,Movie,You Don't Mess with the Zohan,Dennis Dugan,"Adam Sandler, John Turturro, Emmanuelle Chriqu...",United States,"September 1, 2019",2008,UR,113 min,"Action & Adventure, Comedies",An Israeli counterterrorism soldier with a sec...
7058,s7059,Movie,Immoral Tales,Walerian Borowczyk,"Lise Danvers, Fabrice Luchini, Charlotte Alexa...",France,"June 6, 2019",1974,UR,103 min,"Dramas, International Movies, Romantic Movies",This anthology illustrates the timeless nature...
7988,s7989,Movie,Sex Doll,Sylvie Verheyde,"Hafsia Herzi, Ash Stymest, Karole Rocher, Paul...","United Kingdom, France","July 10, 2017",2016,UR,103 min,"Dramas, International Movies, Romantic Movies",A high-end call girl falls for a handsome man ...
7292,s7293,Movie,Leo the Lion,Mario Cambi,"Daniel Amerman, John Cygan, Matthew Mercer, Am...","United States, Italy","December 20, 2015",2013,TV-Y7-FV,78 min,"Children & Family Movies, Comedies",Eschewing the carnivorous ways of his fellow l...
7317,s7318,Movie,Little Singham aur Kaal ka Mahajaal,Prakash Satam,NaN,NaN,"December 1, 2018",2018,TV-Y7-FV,68 min,"Children & Family Movies, Comedies","When Kaal, the vilest demon on earth, threaten..."
...,...,...,...,...,...,...,...,...,...,...,...,...
5813,s5814,Movie,Louis C.K.: Live at the Comedy Store,Louis C.K.,Louis C.K.,United States,"August 15, 2016",2015,66 min,NaN,Movies,The comic puts his trademark hilarious/thought...
5989,s5990,Movie,13TH: A Conversation with Oprah Winfrey & Ava ...,NaN,"Oprah Winfrey, Ava DuVernay",NaN,"January 26, 2017",2017,NaN,37 min,Movies,Oprah Winfrey sits down with director Ava DuVe...
7537,s7538,Movie,My Honor Was Loyalty,Alessandro Pepe,"Leone Frisa, Paolo Vaccarino, Francesco Miglio...",Italy,"March 1, 2017",2015,NaN,115 min,Dramas,"Amid the chaos and horror of World War II, a c..."
6827,s6828,TV Show,Gargantia on the Verdurous Planet,NaN,"Kaito Ishikawa, Hisako Kanemoto, Ai Kayano, Ka...",Japan,"December 1, 2016",2013,NaN,1 Season,"Anime Series, International TV Shows","After falling through a wormhole, a space-dwel..."
7312,s7313,TV Show,Little Lunch,NaN,"Flynn Curry, Olivia Deeble, Madison Lu, Oisín ...",Australia,"February 1, 2018",2015,NaN,1 Season,"Kids' TV, TV Comedies","Adopting a child's perspective, this show take..."

Error: Runtime no longer has a reference to this dataframe, please re-run this cell and try again.

In [108]:
ndf = netflix_df.copy()
ndf.loc[ndf['type']=='Movie', ['country']]

                                                country
0                                         United States
6                                                   NaN
7     United States, Ghana, Burkina Faso, United Kin...
9                                         United States
12                              Germany, Czech Republic
...                                                 ...
8801                       United Arab Emirates, Jordan
8802                                      United States
8804                                      United States
8805                                      United States
8806                                              India

[6131 rows x 1 columns]

In [112]:
# List of movies & TV Shows for United States
US_List = ndf.loc[ndf['country']=='United States',["type","title","director"]]
US_List

         type                 title         director
0       Movie  Dick Johnson Is Dead  Kirsten Johnson
9       Movie          The Starling   Theodore Melfi
15    TV Show     Dear White People              NaN
27      Movie             Grown Ups     Dennis Dugan
28      Movie            Dark Skies    Scott Stewart
...       ...                   ...              ...
8791    Movie           Young Adult    Jason Reitman
8793    Movie  Yours, Mine and Ours     Raja Gosnell
8802    Movie                Zodiac    David Fincher
8804    Movie            Zombieland  Ruben Fleischer
8805    Movie                  Zoom     Peter Hewitt

[2818 rows x 3 columns]

In [115]:
# List of Movies & TV Shows by Actio Type
Action_List = ndf.loc[ndf['listed_in'].str.contains("Action")]
Action_List

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
11,s12,TV Show,Bangkok Breaking,Kongkiat Komesiri,"Sukollawat Kanarot, Sushar Manaying, Pavarit M...",NaN,"September 23, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...","Struggling to earn a living in Bangkok, a man ..."
19,s20,TV Show,Jaguar,NaN,"Blanca Suárez, Iván Marcos, Óscar Casas, Adriá...",NaN,"September 22, 2021",2021,TV-MA,1 Season,"International TV Shows, Spanish-Language TV Sh...","In the 1960s, a Holocaust survivor joins a gro..."
21,s22,TV Show,Resurrection: Ertugrul,NaN,"Engin Altan Düzyatan, Serdar Gökhan, Hülya Dar...",Turkey,"September 22, 2021",2018,TV-14,5 Seasons,"International TV Shows, TV Action & Adventure,...",When a good deed unwittingly endangers his cla...
36,s37,Movie,The Stronghold,Cédric Jimenez,"Gilles Lellouche, Karim Leklou, François Civil...",NaN,"September 17, 2021",2021,TV-MA,105 min,"Action & Adventure, Dramas, International Movies","Tired of the small-time grind, three Marseille..."
...,...,...,...,...,...,...,...,...,...,...,...,...
8766,s8767,Movie,XXx,Rob Cohen,"Vin Diesel, Asia Argento, Marton Csokas, Samue...",United States,"January 1, 2019",2002,PG-13,124 min,"Action & Adventure, Sports Movies",A notorious underground rush-seeker deemed unt...
8767,s8768,Movie,XXX: State of the Union,Lee Tamahori,"Ice Cube, Samuel L. Jackson, Willem Dafoe, Sco...",United States,"January 1, 2019",2005,PG-13,101 min,Action & Adventure,"In this action-packed follow-up to XXX, U.S. i..."
8772,s8773,Movie,Yamla Pagla Deewana 2,Sangeeth Sivan,"Dharmendra, Sunny Deol, Bobby Deol, Neha Sharm...",India,"May 1, 2017",2013,TV-14,147 min,"Action & Adventure, Comedies, International Mo...","Up to his old tricks, con man Dharam poses as ..."
8790,s8791,Movie,You Don't Mess with the Zohan,Dennis Dugan,"Adam Sandler, John Turturro, Emmanuelle Chriqu...",United States,"September 1, 2019",2008,UR,113 min,"Action & Adventure, Comedies",An Israeli counterterrorism soldier with a sec...
8792,s8793,Movie,Young Tiger,Mu Chu,"Qiu Yuen, Charlie Chin, Jackie Chan, Hu Chin, ...",Hong Kong,"November 1, 2016",1973,NR,81 min,"Action & Adventure, International Movies","Aided only by a tough female police officer, a..."

In [119]:
# Sorted by duration
sorted_by_duration = ndf.sort_values(['duration'], ascending=False)
sorted_by_duration

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
1329,s1330,Movie,The Misadventures of Hedi and Cokeman,Julien Royal,"Hedi Bouchenafa, Nassim Lyes, Fred Testot, Jul...",France,"February 10, 2021",2021,TV-MA,99 min,"Comedies, International Movies","In Paris, two dysfunctional dealers use family..."
6278,s6279,Movie,Being AP,Anthony Wonke,Tony McCoy,United Kingdom,"August 15, 2016",2015,TV-14,99 min,"Documentaries, International Movies, Sports Mo...","With retirement staring him in the face, an al..."
952,s953,Movie,The Whole Nine Yards,Jonathan Lynn,"Bruce Willis, Matthew Perry, Rosanna Arquette,...",United States,"May 1, 2021",2000,R,99 min,"Action & Adventure, Comedies",An unhappily married dentist becomes mixed up ...
6141,s6142,Movie,American Hangman,Wilson Coneybeare,"Donald Sutherland, Vincent Kartheiser, Oliver ...",Canada,"July 30, 2019",2019,TV-MA,99 min,Thrillers,A judge’s kidnapping is streamed live on socia...
929,s930,Movie,Dead Again in Tombstone,Roel Reiné,"Danny Trejo, Jake Busey, Elysia Rotaru, Dean M...",NaN,"May 1, 2021",2017,R,99 min,"Action & Adventure, Horror Movies","At the devil's bidding, a deceased outlaw retu..."
...,...,...,...,...,...,...,...,...,...,...,...,...
6556,s6557,TV Show,Dance Academy,NaN,"Xenia Goodwin, Alicia Banit, Dena Kaplan, Isab...",Australia,"December 20, 2017",2013,TV-PG,1 Season,"International TV Shows, Romantic TV Shows, TV ...",Fifteen-year-old Tara Webster's dream of danci...
2945,s2946,TV Show,Cagaster of an Insect Cage,NaN,"Yoshimasa Hosoya, Kana Hanazawa, Natsuki Hanae...",Japan,"February 6, 2020",2020,TV-MA,1 Season,"Anime Series, International TV Shows",Thirty years after a disease that turns the in...
5541,s5542,Movie,Louis C.K. 2017,Louis C.K.,Louis C.K.,United States,"April 4, 2017",2017,74 min,NaN,Movies,"Louis C.K. muses on religion, eternal love, gi..."
5794,s5795,Movie,Louis C.K.: Hilarious,Louis C.K.,Louis C.K.,United States,"September 16, 2016",2010,84 min,NaN,Movies,Emmy-winning comedy writer Louis C.K. brings h...
5813,s5814,Movie,Louis C.K.: Live at the Comedy Store,Louis C.K.,Louis C.K.,United States,"August 15, 2016",2015,66 min,NaN,Movies,The comic puts his trademark hilarious/thought...

In [ ]:
# No. of movies released by each month by country
# No. of movies by country by max / min length
# Count of movies by county by country