<a href="https://colab.research.google.com/github/pkmariya/Python/blob/master/NetflixProject_Mariya_DSMLJune22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [7]:
netflix_df = pd.read_csv("https://d2beiqkhq929f0.cloudfront.net/public_assets/assets/000/000/940/original/netflix.csv")

In [8]:
netflix_df.describe()

       release_year
count   8807.000000
mean    2014.180198
std        8.819312
min     1925.000000
25%     2013.000000
50%     2017.000000
75%     2019.000000
max     2021.000000

In [9]:
netflix_df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [29]:
# Count of Movies and TV Shows
count = netflix_df['type'].value_counts()
count

Movie      6131
TV Show    2676
Name: type, dtype: int64

In [27]:
# Percentage of Movies and TV Shows
count_pct = netflix_df['type'].value_counts(normalize=True)
count_pct

Movie      0.696151
TV Show    0.303849
Name: type, dtype: float64

In [37]:
count_by_country = netflix_df[['country', 'type']].value_counts()
count_by_country

country                                                                         type
United States                                                                   Movie      2058
India                                                                           Movie       893
United States                                                                   TV Show     760
United Kingdom                                                                  TV Show     213
                                                                                Movie       206
                                                                                           ...
Ireland, Canada                                                                 Movie         1
Ireland, Canada, Luxembourg, United States, United Kingdom, Philippines, India  Movie         1
Ireland, Canada, United Kingdom, United States                                  Movie         1
Ireland, Canada, United States, United Kingdom                                  TV Show       1
Zimbabwe                                                                        Movie         1
Length: 847, dtype: int64

In [26]:
null_count = netflix_df.isnull().sum()
null_count

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64