<a href="https://colab.research.google.com/github/pkmariya/Python/blob/main/PythonDSA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python DSA Programs

### Python Pattern Programs

In [ ]:
# Print simple *s

rows = int(input("Please enter # of rows: "))

for i in range(rows):
  for j in range(i+1):
    print("*", end=" ")
  print()

Please enter # of rows: 10
*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *

In [ ]:
# Print above *s in inverted form

rows = int(input("Enter # of rows: "))

for i in range(rows, 0, -1):
  for j in range(0,i):
    print("*", end=" ")
  print()

Enter # of rows: 10
* * * * * * * * * *
* * * * * * * * *
* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
# Print *s in pyramid/triangle shape
rows = int(input("Enter # of rows: "))

for i in range(rows):
  for j in range(0, rows-i-1):
    print(end=" ")
  for j in range(i+1):
    print("*", end=" ")
  print()

Enter # of rows: 5
    *
   * *
  * * *
 * * * *
* * * * *

In [ ]:
# The same above pyramid/triangle pattern with more *s in each row

rows = int(input("Enter # of rows: "))

for i in range(rows):
  for j in range(0, rows-i-1):
    print(end=" ")
  for j in range(2*i+1):
    print("*", end="")
  print()

Enter # of rows: 5
    *
   ***
  *****
 *******
*********

In [ ]:
# Print inverted Pyramid

# rows = int(input("Enter # of rows: "))
rows = 5

for i in range(rows, 0, -1):
  for j in range(0, rows-i):
    print(end=" ")
  for j in range(0, i):
    print("*", end=" ")
  print()

* * * * *
 * * * *
  * * *
   * *
    *

In [3]:
# Pyramid Prodgram

rows = 5

for i in range(rows):
  print(' '*(rows-i-1)+'* '*(i+1))
for j in range(rows-1, 0, -1):
  print(' '*(rows-j)+'* '*(j))

    *
   * *
  * * *
 * * * *
* * * * *
 * * * *
  * * *
   * *
    *

In [ ]:
word = "Python"

for i in range(len(word)):
  for j in range(0, i+1):
    print(word[j], end=" ")
  print()

P
P y
P y t
P y t h
P y t h o
P y t h o n

In [ ]:
num = 10

for i in range(num+1):
  for j in range(1, i+1):
    print (j, end=" ")
  print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6
1 2 3 4 5 6 7
1 2 3 4 5 6 7 8
1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9 10