<a href="https://colab.research.google.com/github/pkmariya/Python/blob/master/PythonLearnSeries01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Hello World in Python
# Data Types
# FCC
# Objects
# Small Integer Caching
# Loops
# Collections
# Input Processing
# Functions
# Function Parameters (Positional, Keyword)
# Lambda
# Webscraping
# Loops Vs Vectors (Performance Optimization)

In [ ]:
# Hello World
print("Hello World!")

Hello World!

In [ ]:
# Data Types - Python is a dynamically typed language
a = 10
print(a)

10

In [ ]:
a = 3.14
print(a)

3.14

In [ ]:
a = "Python"
print(a)

Python

In [ ]:
a = True
print(a)

True

In [ ]:
a = []
print(a)

[]

In [ ]:
# FCC - First Class Citizen
intVal = 98765432139287492349729347923749273497234
print(intVal)

98765432139287492349729347923749273497234

In [ ]:
# Objects - Everything in Python is an Object
intVal = 10
print(type(intVal))

<class 'int'>

In [ ]:
isinstance(intVal, object)

True

In [ ]:
floatVal = 3.14
isinstance(floatVal, object)

True

In [ ]:
myString = "Python"
isinstance(myString, object)

True

In [ ]:
print(type(myString))

<class 'str'>

In [ ]:
# Small Integer Caching (-5 to 256)
a = 10
print(id(a))

11256352

In [ ]:
b = 10
print(id(b))

11256352

In [ ]:
c = -7
print(id(c))

140334462657744

In [ ]:
d = -7
print(id(d))

140334462659216

In [ ]:
e = 256
print(id(e))

11264224

In [ ]:
f = 256
print(id(e))

11264224

In [ ]:
g = 257 
print(id(g))

140334462659312

In [ ]:
h = 257
print(id(h))

140334462660432

In [ ]:
# Loops - for, while 
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
myString = "This is a String"
for chr in myString:
  print(chr)

T
h
i
s

i
s

a

S
t
r
i
n
g

In [ ]:
myArray = [1, 5, 7, 3, 10, 55, 100, 78, 34, 0, 15]
for item in myArray:
  print(item)

1
5
7
3
10
55
100
78
34
0
15

In [ ]:
teamMembers = ["Kishore", "Monisha", "Sree", "Karthik", "Preeti", "Venkat", "Prince", "Satish"]
print(teamMembers)

['Kishore', 'Monisha', 'Sree', 'Karthik', 'Preeti', 'Venkat', 'Prince', 'Satish']

In [ ]:
for name in teamMembers:
  print(name)

Kishore
Monisha
Sree
Karthik
Preeti
Venkat
Prince
Satish

In [ ]:
# Collections - List, Tuple, Set, Dict
# List is a heterogenous, ordered data collection; allows duplicates, denoted by []
# Set is a heterogenous, unordered, unchangeable, doesn't allow duplicates, denoted by {}
# Dict is a key value pair, ordered, changeble data collection, denoted by {}
# Tuple ordered and unchangeable, allows duplicate values, denoted by ()
  myList = [100, 3.14, "Python", True, [10, 20, 30], "Python", 10, 100, 3.14]
print(myList)

[100, 3.14, 'Python', True, [10, 20, 30], 'Python', 10, 100, 3.14]

In [ ]:
print(*myList)

100 3.14 Python True [10, 20, 30] Python 10 100 3.14

In [ ]:
for i in myList:
  print(i)

100
3.14
Python
True
[10, 20, 30]
Python
10
100
3.14

In [ ]:
myList.append(200)
print(*myList)

100 3.14 Python True [10, 20, 30] Python 10 100 3.14 200

In [ ]:
myList.insert(1, "inserted value")
print(*myList)

100 inserted value 3.14 Python True [10, 20, 30] Python 10 100 3.14 200

In [ ]:
myList[1] = "again changed"
print(myList)

[100, 'again changed', 3.14, 'Python', True, [10, 20, 30], 'Python', 10, 100, 3.14, 200]

In [ ]:
myList.remove(200)
print(myList)

[100, 'again changed', 3.14, 'Python', True, [10, 20, 30], 'Python', 10, 100, 3.14]

In [ ]:
myList.insert(-0, "200")
print(myList)

['200', 100, 'again changed', 3.14, 'Python', True, [10, 20, 30], 'Python', 10, 100, '200', 3.14]

In [ ]:
myList.remove("200")
print(myList)

[100, 'again changed', 3.14, 'Python', True, [10, 20, 30], 'Python', 10, 100, '200', 3.14]

In [ ]:

print(myList.pop())

Python

In [ ]:
print(myList)

[100, 'again changed', 3.14, 'Python', True, [10, 20, 30]]

In [ ]:
[print(x) for x in myList]

100
again changed
3.14
Python
True
[10, 20, 30]

[None, None, None, None, None, None]

In [ ]:
myList.pop()

[10, 20, 30]

In [ ]:
print(myList)

[100, 'again changed', 3.14, 'Python', True]

In [ ]:
numbersList = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
print(numbersList)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [ ]:
for num in numbersList:
  if num % 2 == 0:
    print(num)

2
4
6
8
10
12
14
16
18
20

In [ ]:
[print(num) for num in numbersList if num%2!=0]

1
3
5
7
9
11
13
15
17
19

[None, None, None, None, None, None, None, None, None, None]

In [ ]:
print(myList)

[100, 'again changed', 3.14, 'Python', True]

In [ ]:
print(numbersList)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [ ]:
myName = input(" Pls enter your name")
print("Hello", myName)

 Pls enter your namePython
Hello Python

In [ ]:
myAge = int(input("Please enter your age"))
print(f"My age is: {myAge}")

Please enter your age27
My age is: 27

In [ ]:
aTup = (1, 2, 3, 4, 5, 6, 7, 8, 9, 0)
aLis = [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]
print(aTup.__sizeof__())
print(aLis.__sizeof__())

104
120

# Lambda

In [ ]:
x = lambda a, b : a*b
print(x(5, 10))

50

In [ ]:
# def addFunc(a, b):
#   return lambda a, b : a + b

# result = addFunc(10, 15)
result = lambda a, b : a + b
print(result(12, 15))

27

## Sorting Algorithms

# Selection Sort

# Selection Sort using min() method

PSEUDO CODE:

1. FIND MIN VALUE OF THE ARRAY USING min() METHOD
2. FIND THE INDEX OF MIN VALUE FOUND IN STEP 1
3. SWAP THE VALUES B/W NEWLY FOUND MIN INDEX AND PREVIOUS MIN INDEX LOCATIONS

In [ ]:
arr = [10, 3, 9, 1, 0, 12, 21, 5, 1, 8, 4, 3, 6]

def selSort(arr):
  for i in range(len(arr)-1):
    min_val = min(arr[i:])
    min_ind = arr.index(min_val, i)

    if arr[min_ind] != arr[i]:
      arr[i], arr[min_ind] = arr[min_ind], arr[i]

  return arr

print("Before Sorting: ", arr)
print("After Soring  : ", selSort(arr))

Before Sorting:  [10, 3, 9, 1, 0, 12, 21, 5, 1, 8, 4, 3, 6]
After Soring  :  [0, 1, 1, 3, 3, 4, 5, 6, 8, 9, 10, 12, 21]

# Selection Sort Generic Way (without using min() method)

PSEUDO CODE:
1. ASSUME MINIMUM INDEX IS OF THE FIRST ELEMENT IN ARRAY
2. TRAVERSE THROUGH THE ARRAY TO FIND NEXT MIN INDEX
3. SWAP THE VALUES OF CURRENT MIN INDEX AND NEW MIN INDEX

In [ ]:
arr = [10, 3, 9, 1, 0, 12, 21, 5, 1, 8, 4, 3, 6]

def selSort(arr):
  for i in range(len(arr)-1):
    min_ind = i

    for j in range(i+1, len(arr)):
      if arr[j] < arr[min_ind]:
        min_ind = j

    if arr[min_ind] != arr[i]:
      arr[i], arr[min_ind] = arr[min_ind], arr[i]

  return arr

print("Befoer Sorting: ", arr)
print("After Soring  : ", selSort(arr))

Befoer Sorting:  [10, 3, 9, 1, 0, 12, 21, 5, 1, 8, 4, 3, 6]
After Soring  :  [0, 1, 1, 3, 3, 4, 5, 6, 8, 9, 10, 12, 21]

# Vectors are better & faster than loops especially for large datasets

### Vector Vs Loops - Usecase 1. Sum the large numbers

In [3]:
# Sum of n numbers using loops
import time

start_time = time.time()

# iterations to sum the numbers
total = 0 
for num in range(0, 1500000):
  total += num

print("Sum is: ", str(total))

end_time = time.time()

print("Time taken to find the total is: ", round(end_time - start_time, 2))

Sum is:  1124999250000
Time taken to find the total is:  0.19

In [5]:
# the same above program using Vector
import numpy as np

start_time = time.time()
print(np.sum(np.arange(1500000)))
end_time = time.time()

print("Time taken to find the total is: ", round(end_time - start_time, 2))

1124999250000
Time taken to find the total is:  0.02

### Vector Vs Loops - Usecase 2. Randome numbers in millions

In [11]:
# Create a dataset with random numbers b/w 1 to 50 of 50L rows and 4 Columns

import pandas as pd

df = pd.DataFrame(np.random.randint(1, 50, size=(5000000, 4)), columns=('a', 'b', 'c', 'd'))
print("DataSet Shape: ", df.shape)
print()
print(df.head())

DataSet Shape:  (5000000, 4)

    a   b   c   d
0  34   3  32  14
1  15  12  27   9
2  40   3  40  27
3  47  40  30  35
4  19   3  39  14

In [12]:
# Let's create a new column 'ratio' to find the ratio of the last two columns. 

start_time = time.time()

for idx, row in df.iterrows():
  # Create a new column
  df.at[idx, 'ratio'] = 100 * (row['d'] / row['c'])


end_time = time.time()

print("Time taken to add Ratio column with values to the dataset is:", round(end_time - start_time, 2))

Time taken to add Ratio column with values to the dataset is: 353.38

In [13]:
# Now the same above program using Vector

start_time = time.time()
df['ratio'] = 100 * (df['d'] / df['c'])
end_time = time.time()

print("Time taken to add Ratio column to the given dataset is: ", round(end_time - start_time, 2))

Time taken to add Ratio column to the given dataset is:  0.06

### Vector Vs Loops - Usecase 3. multiple if else conditions

In [14]:
# Let's add a new column 'e' based on some conditions checks on column a and values from b & c

start_time = time.time()

for idx, row in df.iterrows():
  if row.a == 0:
    df.at[idx, 'e'] = row.d
  elif (row.a <= 25) & (row.a > 0):
    df.at[idx, 'e'] = (row.b) - (row.c)
  else:
    df.at[idx, 'e'] = row.b + row.c

end_time = time.time()

print("Time taken to add a new column based on if else conditions is: ", round(end_time - start_time, 2))

Time taken to add a new column based on if else condistions is:  524.26

In [15]:
# Now the same above program using vector
start_time = time.time()

df['e'] = df['b'] + df['c']

df.loc[df['a'] <= 25, 'e'] = df['b'] - df['c']
df.loc[df['a'] == 0, 'e'] = df['d']

end_time = time.time()

print("Time taken to add a new column based on if else conditions is: ", round(end_time - start_time, 2))

Time taken to add a new column based on if else conditions is:  0.26

### Vector Vs Loops - Usecase 4. Complex equations of ML & DL

In [2]:
import numpy as np
# Create the Data
# setting up initial values of m
m = np.random.rand(1, 5)

# input values for 5 million rows
x = np.random.rand(5000000, 5)

In [3]:
m

array([[0.35781481, 0.54078048, 0.85680369, 0.77160514, 0.44782093]])

In [4]:
x

array([[5.17017551e-01, 8.84477047e-04, 1.13342843e-01, 9.47311893e-01,
        3.08069853e-01],
       [2.43585402e-01, 1.62666969e-01, 5.62181453e-03, 3.37202309e-01,
        5.48988915e-01],
       [5.68233853e-01, 6.11469723e-01, 4.60000766e-01, 6.85009742e-01,
        4.64943035e-01],
       ...,
       [8.69085344e-01, 6.50594159e-01, 7.47099914e-01, 8.58150297e-01,
        8.96962258e-01],
       [7.32790207e-01, 3.48185734e-01, 6.81300934e-01, 4.15042150e-01,
        9.94421720e-01],
       [2.86884039e-01, 7.57673038e-01, 9.45944607e-01, 4.97757995e-01,
        5.03799232e-01]])

In [13]:
# Using Loops

import time

m = np.random.rand(1, 5)
x = np.random.rand(5000000, 5)

tic = time.process_time()

for i in range(0, 5000000):
  total = 0
  for j in range(0, 5):
    total = total + x[i][j] * m[0][j]

toc = time.process_time()

print("Computation time = " + str(round(toc - tic, 2)) + "Seconds")

Computation time = 21.04Seconds

In [12]:
# Using Vector

tic = time.process_time()

# dot product
np.dot (x, m.T)

toc = time.process_time()

print("Computation time = " + str(round(toc - tic, 2)) + " Seconds")

Computation time = 0.1 Seconds

### Conclusion
Vectorization in python is super fast and should be preferred over loops, whenever we are working with very large datasets.